# backup
*.bak
*~
*.tmp

# executable
*.exe
*.dll
*.o
*.so
*.dylib
newlisp

# test files
junk
junk2
qa-junk.txt
\#*\#
/modules/SQLITE3-TEST
/modules/test.gz
._*

# profile/coverage
gmon.out
*.gcda
*.gcno

# guiserver
*.class

# eclipse
.settings

# NetBeans
.cproject
.project
nbproject

# misc
include
TAGS
XTAGS
*.stackdump
